<mat-drawer-container  class="example-container">
  <mat-drawer opened mode="side">
<form >



<h2 >My Users</h2>

<ul class="users">
  <mat-action-list *ngFor="let user of users"

    [class.selected]="user === selectedUser"
    (click)="onSelect(user)">
    {{user.name}} {{user.surname}}
    <button mat-icon-button  color="warn" class="delete" title="delete user"
      (click)="delete(user)">x</button>


  </mat-action-list>

</ul>

  <div class="example-sidenav-content">
    <button type="button" mat-button  color="primary" (click)="drawer.toggle()">
      Create New User
    </button>
  </div>

</form>
</mat-drawer>


  <mat-sidenav #drawer  mode="side" position="end"  >    <h2 >Create User</h2>

  <app-user-create></app-user-create>
    <mat-spinner [diameter]="40" *ngIf="userService.setLoading" >
    </mat-spinner>
  </mat-sidenav>
 <app-user-detail [users]="selectedUser"></app-user-detail>
 <app-messages></app-messages>
</mat-drawer-container>
