

      <form #createUserForm="ngForm"  class="example-container"  color="primary"  >

    <mat-form-field>
  <input matInput placeholder="Name" [(ngModel)]="createUserForm.value.name" minlength="4" name="name" #nameModel="ngModel" required autocomplete="off">
</mat-form-field>
<br>
<mat-form-field>
<input matInput placeholder="Last Name" [(ngModel)]="createUserForm.value.surname" minlength="4" name="surname" #surnameModel="ngModel" required autocomplete="off">
</mat-form-field>
<br>
<mat-form-field>
  <span matPrefix>+ &nbsp;</span>
<input matInput placeholder="Phone Number" [(ngModel)]="createUserForm.value.phone" minlength="8"   name="phone" #phoneModel="ngModel" required autocomplete="off">
</mat-form-field>
<br>
<mat-form-field>
    <input matInput placeholder="E-mail" [(ngModel)]="createUserForm.value.mail" name="email" #emailModel="ngModel" required email pattern="[a-zA-Z_0-9]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" autocomplete="off">
  </mat-form-field>
  <br>
    <mat-form-field class="example-full-width">
     <input matInput max="{{maxdate}}"   name="birthDate" [(ngModel)]="createUserForm.value.birthDate" #dateModel="ngModel" [matDatepicker]="picker" placeholder="Birthday" autocomplete="off" required>
     <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
     <mat-datepicker #picker></mat-datepicker>
   </mat-form-field>
    <p>
      <label hidden><br>
        <input  [(ngModel)]='createUserForm.value.addDate'  name="addDate ">
      </label>
    </p>
    <p>
      <label hidden><br>
        <input  [(ngModel)]='createUserForm.value.editDate'  name="editDate">
      </label>
    </p>
    <button mat-raised-button color="primary"  (click)="createUser(createUserForm)" type="submit" background-color="primary" [disabled] = "!createUserForm.form.valid" >
Create User
</button>


      </form>

