<form (ngSubmit)="onSubmit()" >
  <div *ngIf="user" >

  <h2>{{user.name | uppercase}} Details</h2>

  <mat-form-field>
<input matInput placeholder="Name" [(ngModel)]="user.name" minlength="3" name="name" #nameModel="ngModel" required autocomplete="off">
</mat-form-field>
<br>
<mat-form-field>
<input matInput placeholder="Last Name" [(ngModel)]="user.surname" minlength="3" name="surname" #nameModel="ngModel" required autocomplete="off">
</mat-form-field>
<br>
<mat-form-field>
  <span matPrefix>+ &nbsp;</span>
<input matInput placeholder="Phone Number" [(ngModel)]="user.phone" minlength="8"   name="phone" #nameModel="ngModel" required autocomplete="off">
</mat-form-field>
<br>
<mat-form-field>
    <input matInput placeholder="E-mail" [(ngModel)]="user.mail" name="email" #emailModel="ngModel" required email pattern="[a-zA-Z_0-9]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" autocomplete="off">
  </mat-form-field>
  <br>
    <mat-form-field class="example-full-width">
     <input matInput max="{{maxdate}}" type="text"  name="birthDate" [(ngModel)]="user.birthDate" #dateModel="ngModel" [matDatepicker]="picker" placeholder="Birthday" autocomplete="off" required>
     <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
     <mat-datepicker #picker></mat-datepicker>
   </mat-form-field>
  <p>
  <label > Date Created<br>
    <input disabled type="text"  [(ngModel)]=user.addDate name="addDate">
  </label>
</p>  <p>
  <label> Date Edited<br>
    <input disabled type="text" [(ngModel)]=user.editDate name="editDate">
  </label>
</p>

  <button mat-raised-button color="accent" (click)="save()">save</button>



