/* MessagesComponent's private CSS styles */
h2 {
  color: #008800;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  position: center;

}
body, input[text], button {
  color: #008800;
  font-family: Cambria, Georgia;

}

button.clear {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  position:absolute;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
button.clear {
  color: #888;
  margin-bottom: 12px;
}

div .container {
  color:  #7fbcec;
  height: auto;
  width: auto;
  position: relative;
  border-radius: 5%;

}

